.nav-text h6 {
  color: black;
  font-weight: bold;
}
.nav-text i {
  color: black;
}
.home-backgroundColor {
  background-image: linear-gradient(to bottom right ,#2EB62C,#57C84D, #83D475 , #beed53 ,#57C84D ,#2EB62C);
}
.nav-text small {
  display: flex;  
  align-items: baseline;
}

.carousel-item {
  height: 400px;
}
.carousel-item img {
  height: 400px;
  object-fit: contain;
}

/* About */

.spacer-double-lg {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: white;
}
.section {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.font-alt {
  font-family: "Lustria", serif;
}
.h3 {
  font-size: 1.75rem;
  color: black;
}
.label-title {
  display: inline-block;
  font-weight: 400;
  font-size: 0.75rem;
  padding: 0.5rem 1rem;
  border-radius: 6.1875rem;
  color: #b5a46d;
  background-color: rgba(181, 164, 109, 0.1);
}
.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}
.par {
  color: #999999;
}
.card-gutters {
  margin-right: -4px;
  margin-left: -4px;
}
.avatar-md {
  width: 4rem;
  height: 4rem;
}
.text-color-black {
  color: black;
}
.media {
  display: flex;
  align-items: flex-start;
}
.mr-3,
.mx-3 {
  margin-right: 1rem !important;
}
.card-gutters > .col,
.card-gutters > [class*="col-"] {
  padding-right: 4px;
  padding-left: 4px;
}
.position-relative {
  position: relative !important;
}
.hover-effect {
  position: relative;
  display: block;
  overflow: hidden;
}
.hover-effect-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.hover-effect-icon {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  background-color: #b5a46d;
  width: 2.25rem;
  height: 2.25rem;
  font-size: 0.75rem;
  border-radius: 50%;
  opacity: 0;
  transition: 0.4s;
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
}
@media (max-width: 992px) {
  .card-gutters {
    margin-top: 20px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.caro-text {
  font-size: 42px;

  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}
.caroText {
  color: #d9ba85;
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/

.logo {
  max-width: 27%;
  height: auto;
}

#topbar {
  /* height: 44px; */
  font-size: 14px;
  transition: all 0.5s;
  z-index: 996;
}

#topbar.topbar-scrolled {
  top: -40px;
}

#topbar .contact-info i {
  font-style: normal;
  color: #d9ba85;
}

#topbar .contact-info i span {
  padding-left: 5px;
  color: #fff;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: rgba(12, 11, 9, 0.6);
  border-bottom: 1px solid rgba(12, 11, 9, 0.6);
  transition: all 0.5s;
  z-index: 997;
  padding: 5px 0;
  top: 47px;
}

#header.header-scrolled {
  top: 0;
  background: rgba(0, 0, 0, 0.85);
  border-bottom: 1px solid #37332a;
}

#header .logo {
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

#header .logo a {
  color: #fff;
}

.book-a-table-btn {
  color: #d9ba85;
}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
}

.navbar a i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar li:hover > a {
  color: #d9ba85;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  color: #444444;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
  color: #cda45e;
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}
/* --------- Modal Css----------------- */
.modal-text{
  overflow-y: scroll;
  height: 425px;
}
/*  ----------Card css------------------ */
.pdt-card {
  transform: translate(0%, 0%);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  transition: 0.5s;
}

.pdt-card:hover .pdt-card-image {
  transform: translateY(-100px);
  transition: all 0.9s;
}

/**** Social Icons *****/
.pdt-card-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  display: flex;
}
.pdt-card-button small {
  list-style: none;
}
.pdt-card-button small a {
  display: inline-flex;
  align-items: center;
  width: 40px; 
  height: 40px;
  border-radius: 50px;
 
  background: #ffffffdb;
  font-size: large;
  color: #000 !important;
  
  text-decoration: none;
  transition: 0.4s;
  transform: translateY(200px);
  opacity: 0;
}

.pdt-card:hover .pdt-card-button small a {
  transform: translateY(0px);
  opacity: 1;
}

.pdt-card-button small a:hover {
  transition: 0.2s;
}
.pdt-card-button small a:hover .pdt-card-button-txt {
  color: #fff;
}

.pdt-card-button small a .pdt-card-button-txt {
  transition: 0.8s;
}
.pdt-card-button small a .pdt-card-button-txt:hover {
  transform: rotateY(360deg);
  color: #fff;
}

.pdt-detl {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fff;
  width: 100%;
  height: 120px;
  z-index: 1;
  padding: 10px;
}
.pdt-detl h2 {
  margin: 30px 0;
  padding: 0;
  text-align: center;
}
.pdt-detl h2 .job-title {
  font-size: 1rem;
  line-height: 2.5rem;
  color: #333;
  font-weight: 300;
}

.pdt-card-txt {
  position: absolute;
  bottom: -120px;
  left: 0;
  opacity: 0;
  background: #fff;
  width: 100%;
  height: 65px;
  z-index: 3;
  padding: 10px;
  transition: 0.4s;
}

.pdt-card:hover .pdt-card-img2 {
  transform: rotateY(180deg);
}

.pdt-card:hover .pdt-card-txt {
  bottom: 0;
  left: 0;
  transition-delay: 0.5s;
  opacity: 1;
}






.pdt-card:hover small:nth-child(1) a {
  transition-delay: 0.1s;
}

.pdt-card:hover small:nth-child(2) a {
  transition-delay: 0.2s;
}

.pdt-card:hover small:nth-child(3) a {
  transition-delay: 0.3s;
}

.pdt-card:hover small:nth-child(4) a {
  transition-delay: 0.4s;
}


/* ---------Footer Css ----------------- */
.footer{
  background-image: linear-gradient(90deg, #000000, #1f1f1f, #343634);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.footer li{
  line-height: 2.3;
}

.footer-li li:hover{
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
   transform: scale(1.1); 
   font-size: large;
   color: white;
   font-weight: 400;
}

.footer-text{
  font-size: large;
}


/* --------New Css for Cards --------------*/

.card {
  height: 450px !important;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  transition: 0.5s;
}
.card .card-image {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #000;
  transition: 0.5s;
}
.card:hover img {
  opacity: 0.4;
  transition: 0.5s;
}

.card:hover .card-image {
  transform: translateY(-100px);
  transition: all 0.9s;
}

/**** Social Icons *****/
.social-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  display: flex;
}
.social-icons li {
  list-style: none;
  font-family: var(--fa-style-family,"Font Awesome 6 Free") !important;
font-weight: var(--fa-style,900) !important;
font-weight: 600 !important;
}
.social-icons li a {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #fff;
  font-size: 23px;
  color: #333;
  margin: 0 6px;
  transition: 0.4s;
  transform: translateY(200px);
  opacity: 0;
}

.card:hover .social-icons li a {
  transform: translateY(0px);
  opacity: 1;
}

.social-icons li a:hover {
  background: #000;
  transition: 0.2s;
}
.social-icons li a:hover .fab {
  color: #fff;
}

.social-icons li a .fab {
  transition: 0.8s;
}
.social-icons li a .fab:hover {
  transform: rotateY(360deg);
  color: #fff;
}

/**** Personal Details ****/
.details {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fff;
  width: 100%;
  height: 120px;
  z-index: 1;
  padding: 10px;
}
.details h2 {
  margin: 10px 0;
  padding: 0;
  text-align: center;
}
.details h2 .job-title {
  font-size: 22px;
  line-height: 3rem;
  color: #333;
  font-weight: 300;
}

.jane {
  position: absolute;
  bottom: -120px;
  left: 0;
  opacity: 0;
  background: #fff;
  width: 100%;
  height: 120px;
  z-index: 3;
  padding: 10px;
  transition: 0.4s;
}

.profile-two .social-icons li a {
  border-radius: 50%;
}

.card:hover .profile-img--two {
  transform: rotateY(180deg);
}

.card:hover .jane {
  bottom: 0;
  left: 0;
  transition-delay: 0.1s;
  opacity: 1;
}


/*   ------------------ Select Option Css-------------------- */


.brd
{
    border: 1px solid #e2eded;
    border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
}

#info
{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    color: #2d3667;
    font-size: 16px;
    text-align: center;
    padding: 14px;
    background-color: #f3f9f9;
}

#app-cover
{
    position: absolute;
    /* top: 0;
    right: 0;
    left: 0; */
    width: 242px;
    height: 42px;
    margin: 15px auto 0 auto;
}

#select-button
{
    position: relative;
    height: 16px;
    padding: 20px 13px;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

#options-view-button
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

#selected-value
{
    font-size: 16px;
    line-height: 1;
    margin-right: 26px;
    margin-left: 5px
}

.option i
{
    width: 16px;
    height: 16px;
}

.option, .label
{
    color: #2d3667;
    font-size: 16px;
}

#chevrons
{
    position: absolute;
    top: 0;
    right: 5px;
    bottom: 0;
    width: 12px;
    padding: 9px 14px;
}

#chevrons i
{
    display: block;
    height: 50%;
    color: #d1dede;
    font-size: 12px;
    text-align: right;
}

#options-view-button:checked + #select-button #chevrons i
{
    color: #2d3667;
}

.options
{
    position: absolute;
    left: 0;
    width: 250px;
}

#options
{
    position: absolute;
    top: 42px;
    right: 0;
    left: 0;
    width: 242px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 4px;
}

#options-view-button:checked ~ #options
{
    border: 1px solid #e2eded;
    border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
}

.option
{
    position: relative;
    line-height: 1;
    transition: 0.3s ease all;
    z-index: 2;
}

.option i
{
    position: absolute;
    left: 14px;
    padding: 0;
    display: none;
}

#options-view-button:checked ~ #options .option i
{
    display: block;
    padding: 12px 0;
}

.label
{
    display: none;
    padding: 0;
    margin-left: 27px;
}

#options-view-button:checked ~ #options .label
{
    display: block;
    padding: 12px 14px;    
}

.s-c
{
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
}

.s-c.top
{
    top: 0;
}

.s-c.bottom
{
    bottom: 0;
}

input[type="radio"]
{
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    height: 50%;
    margin: 0;
    opacity: 0;
    cursor: pointer;
}

.s-c:hover ~ i
{
    color: #fff;
    opacity: 0;
}

.s-c:hover
{
    height: 100%;
    z-index: 1;
}

.s-c.bottom:hover + i
{
    bottom: -25px;
    animation: moveup 0.3s ease 0.1s forwards;
}

.s-c.top:hover ~ i
{
    top: -25px;
    animation: movedown 0.3s ease 0.1s forwards;
}

@keyframes moveup
{
    0%{ bottom: -25px; opacity: 0;}
    100%{ bottom: 0; opacity: 1;}
}

@keyframes movedown
{
    0%{ top: -25px; opacity: 0;}
    100%{ top: 0; opacity: 1;}
}

.label
{
    transition: 0.3s ease all;
}

.opt-val
{
    position: absolute;
    left: 14px;
    width: 217px;
    height: 21px;
    opacity: 0;
    background-color: #fff;
    transform: scale(0);
}

.option input[type="radio"]:checked ~ .opt-val
{
    opacity: 1;
    transform: scale(1);
}

.option input[type="radio"]:checked ~ i
{
    top: 0;
    bottom: auto;
    opacity: 1;
    animation: unset;
}

.option input[type="radio"]:checked ~ i, .option input[type="radio"]:checked ~ .label
{
    color:#fff;
}

.option input[type="radio"]:checked ~ .label:before
{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

#options-view-button:not(:checked) ~ #options .option input[type="radio"]:checked ~ .opt-val
{
    top: -30px;
}

.option:nth-child(1) input[type="radio"]:checked ~ .label:before
{
    background-color: #0057ff;
    border-radius: 4px 4px 0 0;
}

.option:nth-child(1) input[type="radio"]:checked ~ .opt-val
{
    top: -31px;
}

.option:nth-child(2) input[type="radio"]:checked ~ .label:before
{
    background-color: #32c766;
}

.option:nth-child(2) input[type="radio"]:checked ~ .opt-val
{
    top: -71px;
}

.option:nth-child(3) input[type="radio"]:checked ~ .label:before
{
    background-color: #0057ff;
}

.option:nth-child(3) input[type="radio"]:checked ~ .opt-val
{
    top: -111px;
}

.option:nth-child(4) input[type="radio"]:checked ~ .label:before
{
    background-color: #32c766;
}

.option:nth-child(4) input[type="radio"]:checked ~ .opt-val
{
    top: -151px;
}

.option:nth-child(5) input[type="radio"]:checked ~ .label:before
{
    background-color: #f48024;
}

.option:nth-child(5) input[type="radio"]:checked ~ .opt-val
{
    top: -191px;
}

.option:nth-child(6) input[type="radio"]:checked ~ .label:before
{
    background-color: #006400;
    border-radius: 0 0 4px 4px;
}

.option:nth-child(6) input[type="radio"]:checked ~ .opt-val
{
    top: -231px;
}

.option .fa-codepen
{
    color: #32c766;
}

.option .fa-dribbble
{
    color: #0057ff;
}




#option-bg
{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 40px;
    transition: 0.3s ease all;
    z-index: 1;
    display: none;
}

#options-view-button:checked ~ #options #option-bg
{
    display: block;
}

.option:hover .label
{
    color: #fff;
}

.option:nth-child(1):hover ~ #option-bg
{
    top: 0;
    background-color: #32c766;
    border-radius: 4px 4px 0 0;
}

.option:nth-child(2):hover ~ #option-bg
{
    top: 40px;
    background-color: #0057ff;
}



.lang-link a{
  text-decoration: none;
}
.lang-link {
  position: absolute;
  top: 215px;
    right: 12px;
}
         
.btn-grad-bt {
  background-image: linear-gradient(to right, #16A085 0%, #F4D03F  51%, #16A085  100%);
  margin: 10px;
  padding: 6px 20px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  border: 0px;
}

.btn-grad-bt:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

  /* ------------------------ Select end =------------------------------ */


 .nav-btn {
    background-image: linear-gradient(315deg, #81ca6b 0%, #dbffd0 74%);
    border: 0px;
    padding: 4px 22px 4px 5px !important;
    margin: 0px 6px !important;
  }
  /* ------------------service css---------------- */
  .service-head{
    background-image: linear-gradient(to bottom right ,#2EB62C,#57C84D, #83D475 , #beed53 ,#57C84D ,#2EB62C);
    color: white;
  }

  .srvc-consl img.img-fluid.w-100 {
    height: 320px;
    object-fit: initial;
}


  /* ---------------Training css---------------- */

  .nav-pills-custom .nav-link {
    color: #aaa;
    background: #fff;
    position: relative;
}

.nav-pills-custom .nav-link.active {
    color: #45b649;
    background: #fff;
}


/* Add indicator arrow for the active tab */
@media (min-width: 992px) {
    .nav-pills-custom .nav-link::before {
        content: '';
        display: block;
        border-top: 8px solid transparent;
        border-left: 10px solid #fff;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
        opacity: 0;
    }
}

.nav-pills-custom .nav-link.active::before {
    opacity: 1;
}
.footer-img {
  width: 50% !important;
}
  /* --------------------------------------------- */


  /* ----------------- media Query css-------------- */

  @media only screen and (min-width: 320px) and (max-width: 768px) {

    #header{
      top: 105px;
    }
    .contact-info{
      display: flex !important;
    }
    .contact-info .cnt {
      justify-content: center !important;
      text-align: center !important;
    }   
    .header-txt .caro-text{
      padding: 0px !important;
      margin: 0px !important;
    }
    .footer-img{
      width: 50% !important;
    }

    }